<header>
  <app-cabezera></app-cabezera>
</header>
<div class="container">
  <div class="alert alert-secondary" role="alert">
  <div class="row mt-4">
  <div class="col md-4">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Logo_en_blanco_Universidad_Cat%C3%B3lica_de_cuenca.jpg/250px-Logo_en_blanco_Universidad_Cat%C3%B3lica_de_cuenca.jpg" width="200" height="250" class="img-fluid" alt="UNIVERSIDAD CATOLICA DE CUENCA">
</div>
  <div class="col md-4">
        <h3 class="text-center text-primary">NUMERO DE MUERTES COVID-19-API</h3>
    </div>
 </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
<!--<hr/>
    <div class="col-md-12">
        <app-muertes-covid></app-muertes-covid>
    </div>
    <div class="col">
      <app-presentacion></app-presentacion>
    </div>
</div>-->
