<div class="text-center text-success" >
  <h3>DATOS OBTENIDOS POR NUMEROS DE CASOS DE MUERTES EN LOS PAISES</h3>
  <div class="row">
    <div class="div col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Pais</th>
            <th scope="col">Capital</th>
            <th scope="col">Continente</th>
            <th scope="col">poblacion</th>
            <th scope="col">localizacion</th>
            <th scope="col">espectativa_vida</th>
            <th scope="col">fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{datosPais.nombre}}</td>
            <td>{{datosPais.capital}}</td>
            <td>{{datosPais.Continente}}</td>
            <td>{{datosPais.poblacion}}</td>
            <td>{{datosPais.localizacion}}</td>
            <td>{{datosPais.espectativa_vida}}</td>
            <td>{{datosPais.data}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{datosPais2.nombre}}</td>
            <td>{{datosPais2.capital}}</td>
            <td>{{datosPais2.Continente}}</td>
            <td>{{datosPais2.poblacion}}</td>
            <td>{{datosPais2.localizacion}}</td>
            <td>{{datosPais2.espectativa_vida}}</td>
            <td>{{datosPais2.data}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{datosPais3.nombre}}</td>
            <td>{{datosPais3.capital}}</td>
            <td>{{datosPais3.Continente}}</td>
            <td>{{datosPais3.poblacion}}</td>
            <td>{{datosPais3.localizacion}}</td>
            <td>{{datosPais3.espectativa_vida}}</td>
            <td>{{datosPais3.data}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>{{datosPais4.nombre}}</td>
            <td>{{datosPais4.capital}}</td>
            <td>{{datosPais4.Continente}}</td>
            <td>{{datosPais4.poblacion}}</td>
            <td>{{datosPais4.localizacion}}</td>
            <td>{{datosPais4.espectativa_vida}}</td>
            <td>{{datosPais4.data}}</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>{{datosPais5.nombre}}</td>
            <td>{{datosPais5.capital}}</td>
            <td>{{datosPais5.Continente}}</td>
            <td>{{datosPais5.poblacion}}</td>
            <td>{{datosPais5.localizacion}}</td>
            <td>{{datosPais5.espectativa_vida}}</td>
            <td>{{datosPais5.data}}</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>{{datosPais6.nombre}}</td>
            <td>{{datosPais6.capital}}</td>
            <td>{{datosPais6.Continente}}</td>
            <td>{{datosPais6.poblacion}}</td>
            <td>{{datosPais6.localizacion}}</td>
            <td>{{datosPais6.espectativa_vida}}</td>
            <td>{{datosPais6.data}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
